.sidenav {
    width: auto;
    top: 20px;
    left: 10px;
    background: #f8f8f8;
    overflow-x: hidden;
    border-radius: 2px 4px;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 1.2vw;
        color: #707ae9;
        display: block;
    }

        .sidenav a:hover {
            color: #064579;
        box-shadow:5px 5px;
        }

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.header {
    font-size: 2vw;
    width: auto;
    border: 2px medium #4cb6ea;
    background-color: #4cb6ea;
    color:white;

}
