#customers {
    border-collapse: collapse;
}

    #customers td, #customers th {
        border: 1px solid gray;
        padding: 8px;
        font-size:1.2vw;
        width:auto;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        text-align: left;
        background-color: #f8f8f8;
        color: black;
        width: auto;
    }


